<li id="task-item-{{ task.id }}" class="list-group-item d-flex justify-content-between align-items-center">
    <form id="task-form-{{ task.id }}"
    hx-post="{% url 'todo:task-edit' task.id %}"
    hx-target="#task-item-{{ task.id }}"
    hx-swap="outerHTML">
        {% csrf_token %}
        {{ form.as_div }}
    </form>
    <div class="d-flex">
        <button hx-get="{% url 'todo:task-toggle' task.id %}"
                hx-target="#task-item-{{ task.id }}"
                hx-swap="outerHTML"
                class="btn btn-sm btn-outline-primary mx-2">
            Cancel
        </button>
        <form hx-post="{% url 'todo:task-delete' task.id %}" hx-target="#task-item-{{ task.id }}" hx-swap="outerHTML">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
    </div>
</li>